
<div class="span12">

<%= form_for @user, :url => register_path , :html => { :class => "form-signin"}  do |f| %>
   <h2 class="form-signin-heading">Hello Buddy.</h2>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <p>
    <%= label_tag :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
	<%= label_tag :picture, nil, :class =>  'control-label' %>
    <%= f.file_field :picture, :class => 'input-xxlarge' %>
	</p>
  <%= f.submit :class => "btn btn-large btn-success" %>
<% end %>
</div>
