<div class="span3 menu">
	<ul class="nav nav-tabs nav-stacked affix">
		<li>
			<a href="#">News <i class="icon-chevron-right"></i> </a>
		</li>
		<li>
			<a href="#MyAccount">Manage account <i class="icon-chevron-right"></i> </a>
		</li>
		<li>
			<a href="#MyDishes">Manage dishes <i class="icon-chevron-right"></i> </a>
		</li>
		<li>
			<a href="#MyReservations">Manage reservations <i class="icon-chevron-right"></i> </a>
		</li>
	</ul>
</div>
<div class="span9">
	<div class="content">
		<!-- News
		================================================== -->
		<section id="MyNews">
			<div class="page-header">
				<h1>News</h1>
			</div>
			<%= render 'shared/lorem' %>
		</section>

		<section id="MyAccount">
			<div class="row" style="margin-bottom: 15px;">
				<div class="span5">
					<div class="page-header">
						<h1>Welcome <%= link_to @user.email, account_show_page_path(@user.username) %></h1>
					</div>
				</div>

				<div class="span3">
					<%= link_to account_show_page_path(@user.username), :class => "thumbnail" do %>
					<%= image_tag(@user.picture.url , :alt => @user.username) %>
					<% end %>
				</div>
			</div>

			<%= render 'formedit' %>

		</section>

		<br />

		<section id="MyDishes">
			<div class="page-header">
				<h1>My dishes</h1>
			</div>
			<% if @dishes.count > 0  %>
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>Picture</th>
						<th>Name</th>
						<th>Price</th>
						<th>Type</th>
						<th>Food</th>
						<th>Description</th>
						<th>Until</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% @dishes.each do |dish| %>
					<tr>
						<td> <%= link_to dish_show_page_path(dish._id), :class => "thumbnail" do %>
						<%= image_tag(dish.picture.url, :alt => dish.name) %>
						<% end %> </td>
						<td><%= dish.name %></td>
						<td><%= dish.price %></td>
						<td><strong><%= dish.dishtype.name %></strong></td>
						<td><%= dish.food %></td>
						<td><%= dish.description %></td>
						<td><%= dish.availability.strftime("%Y-%m-%d") %></td>
						<td></td>
						<td><%= link_to 'Edit', dish_edit_page_path(dish._id), :class => "btn btn-mini btn-warning" %>
						<%= link_to 'Delete', deletedish_path(dish._id), method: :delete, data: { confirm: 'Delete the dish?' }, :class => "btn btn-mini btn-danger" %></td>

					</tr>
					<%end%>
				</tbody>
			</table>
			<% else %>
			<span class="label label-important pull-left">Important</span>
			<p class="pull-left">
				You don't have any dishes at the moment.
			</p>
			<%= link_to 'Add a dish', dish_add_page_path %>
			<% end %>

		</section>

		<br />

		<br />

		<section id="MyReservations">
			<div class="page-header">
				<h1>My reservations</h1>
			</div>
			<%= render :partial => "shared/reservations", :model => @reservations %>
		</section>
		<br />
		<section id="MySales">
			<div class="page-header">
				<h1>My sales</h1>
			</div>
			<%= render :partial => "shared/sales", :model => @sales %>
		</section>
	</div>
</div>